.search {
    position: relative;
    display: inline-flex;
    align-items: center;
    border: 1px solid #7E7E7E;
    border-radius: 20px;
}

.search > img {
    position: absolute;
    top: 50%;
    left: 9px;
    z-index: -1;


    transform: translateY(-50%);
}

.search > input {
    padding: 12px 12px 12px 38px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;

    font-size: 15px;
    font-weight: 300;
    line-height: 17px;
    color: #7E7E7E;
}

.search > input::placeholder {
    color: #7E7E7E;
}